extends modules/layout
block content
    .container
        .router
            button(type="button",onClick="changeLocation()") Change Route
    script(type="text/javascript").
        function changeLocation(){
            window.location = 'test.html';